/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
  margin-top: 4rem;
  color: tint($base-color, 40%);
  font-size: 80%;
  padding: $spacing-unit 0;
}

.copyright {
  font-family: $monospace-font-family;
  text-align: center;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
}
