/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
  height: $spacing-unit * 2.5;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255,255,255,0.97);
  box-shadow: 0 0.3125rem 0.3125rem -0.3125rem rgba(0,0,0,0.117);
  
  .site-title {
    margin: 0;
    padding: 0 $spacing-unit * 1.2;
    font-size: $base-font-size * 1.5;
    line-height: $spacing-unit * 2.5;
    font-family: $base-font-family;
    font-weight: 400;
    float: left;
  
    .logo {
      position: relative;
      top: 6px;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: $text-color;
      display: inline-block;
      &::after {
        content: " ";
        position: relative;
        display: block;
        top: -2px;
        left: 6px;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 30px;
      }
    }

    &, &:visited {
      color: $text-color;
    }

    &:hover {
      text-decoration: none;
    }
  }
  
  .site-nav {
    float: right;
    margin-right: $spacing-unit * 1.2;
    line-height: $spacing-unit * 1.5;
    margin-top: $spacing-unit * 0.5;

    a {
      margin-left: $spacing-unit * 0.8;
    }
  }
}