/* ==========================================================================
   Post
   ========================================================================== */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 26px;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 8px;
}

.post-subtitle {
  font-size: 15px;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.archieve {
  .post-title {
    font-size: 16px;
  }
}

.post-list-heading {
  font-weight: normal;
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding-inline-start: 0;

  > li {
    margin-bottom: $spacing-unit;
  }

  h3 {
    margin-bottom: $spacing-unit * 0.5;
  }
}

.archieve .post-preview {
  margin-left: 20px;
  .post-title {
    margin-top: 20px;
  }
}

.post-link {
  display: block;
}

.post-meta {
  font-family: $base-meta-font-family;
  font-size: 16px;
  color: tint($text-color, 80%);
  font-style: italic;
  margin-top: 0;
  a {
    text-decoration: none;
    color: #404040;
    &:hover, &:focus {
      color: #0085a1;
      text-decoration: underline;
    }
  }
}

.post-content-preview {
  margin-bottom: $spacing-unit * 0.2;
  color: tint($text-color, 50%);
  font-size: 13px;
  font-style: italic;
  color: #a3a3a3;
  &:hover {
    color: $link-base-color;
    transition: $global-transition;
  }
}