---
layout: default
---

{%- include masthead.html -%}

<div class="layout">

  {{ content }}

  <div class="site-tags js-tags">
    <a class="tag-button--all" data-encode="">
      Show All
      <sup>{{site.posts.size}}</sup>
    </a>

    {% capture tags %}
      {% for tag in site.tags %}
        <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
          data-encode="{{ tag[0] | strip | url_encode }}"
          class="tag-button"
          title="{{ tag[0] }}" rel="{{ tag[1].size }}">
          {{ tag[0] }}
          <sup>{{tag[1].size}}</sup>
        </a>
      {% endfor %}
    {% endcapture %}
  </div>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.atina.date_format | default: "%b %-d, %Y" -%}
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        <hr>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
