---
layout: default
---

{%- include masthead.html type='post' -%}

<article class="post layout h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<!-- Side Catalog Container -->
{% if page.catalog %}
<div class="
    visible-lg-block
    sidebar-container
    catalog-container">
    <div class="side-catalog">
        <hr class="hidden-sm hidden-xs">
        <h5>
            <a class="catalog-toggle" href="#">CATALOG</a>
        </h5>
        <ul class="catalog-body"></ul>
    </div>
</div>
{% endif %}
